@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: antiquewhite;
}
header{
    background-color: blueviolet;
    color: white;
    text-align: center;
}
header > h1{
    font-variant: small-caps;
    padding: 10px;
    text-shadow: 1px 2px 3px black;
}
header > p{
    padding: 10px;
    font-variant: small-caps;
}
main{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 20px;
    margin: auto;
    line-height: 2em;
}
footer{
    background-color: violet;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    text-shadow: 1px 0px 1px black;
}

