@charset "UTF-8";

@media screen and (min-width:768px) {
    html, body{
        background: linear-gradient(to left, rgb(187, 40, 72), rgb(90, 90, 243));
    }
    #login{
        width: 700px;
        height: 500px;
        background-color: white;

    }
    div#h2 > img#imagem{
        margin-left: 80%;
    }
    section#sessao2{
        background-color: black;
        width: 250px;
        height: 400px;
    }
    
    
}