@charset "UTF-8";

@media screen and (min-width:769px) and (max-width:1024px) {
    section{
        width: 70vw;
    }
    section > div#q1{
        float: left;
        width: 30%;
        height: 100%;
    }
    section > div#q2{
        float: right;
        width: 65%;
    }
    body, html{
        background: linear-gradient(to left, rgb(255, 45, 125), rgb(236, 117, 117));
    }
}
@media screen and (min-width:1025px) {
    section{
        width: 70vw;
    }
    section > div#q1{
        float: left;
        width: 30%;
        height: 100%;
    }
    section > div#q2{
        float: right;
        width: 65%;
    }
    body, html{
        background: linear-gradient(to left, rgb(255, 45, 125), rgb(236, 117, 117));
    }

}