@charset "UTF-8";

@media screen and (min-width:769px) and (max-width:1024px) {
    body{
        background: linear-gradient(to top, blue, red);
    }
    section{
        width: 70vw;
    }
    section > div#q1{
        float: left;
        width: 30%;
        height: 100%;
    }
    section > div#q2{
        float: right;
        width: 50%;
    }
    
}






@media screen and (min-width:1025px) {
    body{
        background: linear-gradient(to top, blue, red);
    }
    section{
        width: 75vw;
    }
    section > div#q1{
        float: right;
        width: 40%;
        height: 100%;
    }
    section > div#q2{
        float: left;
        width: 50%;
    }
}