@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: white;
    display: flex;
    padding: 20px 50px;
}
header > span{
    display: block;
    margin: auto;
    cursor: pointer;
    
}
header > span:hover{
    color: rgb(148, 144, 144);
}
main{
    position: relative;
    background: grey url('../imagens/fundo.jpg ') no-repeat;
    background-position: left center;
    background-size: cover;
}
menu{
    display: none;
    
    
}
menu > ul > li{
    background-color: rgb(97, 81, 81);
    padding: 30px;
    text-align: center;
    margin: auto;
    list-style: none;
}
menu > ul > li > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
menu > ul > li > a:hover{
    color: white;
    transition: .1s;
    text-decoration: underline;
}
section#links{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
    width: 150px;
    margin: auto;
}
section#principal{
    color: white;  
    text-align: center;
    font-size: 2em;  
    font-variant: small-caps; 
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    padding: 15px;
}
section#paragrafo{
    color: white;
}
.paragrafos{
    background-color: rgba(43, 42, 42, 0.164);
    width: 80vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    line-height: 2em;
}
